div {
    box-sizing: border-box;
  }
  
  header {
    width: 90%;
    height: 40px;
    background-color: #c2c2c2;
    margin: 0 auto;
  }
  
  .container {
    margin: 20px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  
  .box1,
  .box2,
  .box3 {
    height: 400px;
    background-color: #c2c2c2;
  }
  
  .box1 {
    width: 50%;
  }
  
  .box2 {
    width: 20%;
  }
  
  .box3 {
    width: 20%;
  }
  